[user]
	email = 728074993@qq.com
    name = yangzhan_mba
[core]
    editor = vim
    excludesfile = ~/rc/.gitignore_global
[merge]  
    summary = true  
    tool = vimdiff 

[diff]  
    renames = copy

[color]  
    diff = auto  
    status = true  
    branch = auto  
    interactive = auto  
    ui = auto  
    log = true

[status]  
    submodulesummary = -1

[mergetool "vimdiff"]

[format]  
    numbered = auto 

[alias]  
    co = checkout  
    ci = commit -a -v  
    st = status  
    pl = pull  
    ps = push  
    dt = difftool  
    l = log --stat  
    cp = cherry-pick  
    b = branch  
    throw = reset --hard HEAD
